.burger {
  svg {
    position: relative;
    z-index: 2;
  }
}

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.3s;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../img/banner/banner.jpg);
  background-size: cover;
  z-index: 0;

  nav {
    ul {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      background-color: rgba(0, 0, 0, 0.5);

      li {
        a {
          font-family: Measure;
          font-size: 40px;
          color: #ffffffff;
        }
      }
    }
  }
}

.menu.open {
  right: 0;
}
