.services {
  max-width: 1112px;
  // padding: 0 0 0 100px;
  margin: 0 auto;
  padding-bottom: 100px;

  @media (max-width: 1919px) and (min-width: 1280px) {
    padding: 0px 128px 100px;
  }

  @media (max-width: 1279px) and (min-width: 1024px) {
    overflow: hidden;
    padding: 0 85px 150px;
  }
  @media (max-width: 1023px) and (min-width: 0px) {
    overflow: hidden;
    padding: 0 22px 150px;
  }
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 24px;
  font-family: Measure;
}

.sliderWraper {
  display: flex;
  justify-content: center;
}

.wrap {
  display: flex;
  gap: 45px;
  margin-bottom: 115px;

  @media (max-width: 1279px) and (min-width: 1024px) {
    flex-direction: column;
  }
  @media (max-width: 1023px) and (min-width: 0px) {
    flex-direction: column;
  }
}

.subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 27px;
  font-family: Gilroy;
}

.btnWrap {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @media (max-width: 1279px) and (min-width: 1024px) {
    flex-direction: row;
    overflow: overlay;
    width: 100%;
  }
  @media (max-width: 1023px) and (min-width: 0px) {
    flex-direction: row;
    overflow: overlay;
    width: 100%;
  }
}

.btn {
  width: 100%;
  padding: 27px 35px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid #444444;
  border-radius: 11px;
  cursor: pointer;
  transition: 0.3ms;
  font-family: Gilroy;
  text-wrap: nowrap;

  &:hover {
    background-color: #414141;
    color: #ffffff;
    .arrow path {
      fill: #ffffff;
    }
  }
}

.active {
  width: 100%;
  padding: 27px 35px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #444444;
  border-radius: 11px;
  cursor: pointer;
  transition: 0.3ms;
  background-color: #414141;
  color: #ffffff;
  font-family: Gilroy;

  .arrow path {
    fill: #ffffff;
  }
}

.number {
  font-size: 24px;
  font-family: Measure;
}

.desc {
  font-size: 20px;
  font-family: Gilroy;
}

.text {
  width: 166px;
  line-height: 30px;
  font-weight: 400;
  text-wrap: wrap;
}
