.thirdSlider {
  max-width: 1920px;
  width: 100%;
  height: 450px;
}

.img {
  width: inherit;
  height: inherit;
  border: 2px solid transparent;
  -webkit-border-image: url("../../../img/backgroundText.jpg");
  border-image: url("../../../img/backgroundText.jpg") 30 repeat;
  overflow: hidden;

  object-position: center;
}
