.select {
  position: relative;
  max-width: 281px;
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.selectedOption {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-family: Gilroy;
}

.options {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 11.5px 5px;
  border: 1px solid #ffffff;
  border-top: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  font-family: Gilroy;
  background-color: rgba(0, 0, 0, 50%);
  backdrop-filter: blur(2px);
}

.option {
  font-size: 18px;
  font-family: Gilroy;
  &:hover {
    cursor: pointer;
    color: #ffb700;
    // background-color: #414141;
  }
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 6.5px 11.5px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.wrap.open {
  border-radius: 5px 5px 0 0;
}
