.btn {
  border: 0;
  border-radius: 11px;
  font-family: Gilroy;
  padding: 36px 0;
  font-size: 36px;
  transition: transform 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }

  @media (max-width: 1023px) and (min-width: 0px) {
    padding: 20px;
    font-size: 14.5px;
  }
}
