.header {
  display: flex;
  align-items: center;
  gap: 67px;
  padding: 50px 21.355% 0 21.355%;
  background-image: unset;
  background-position: center;

  @media (max-width: 1023px) and (min-width: 0px) {
    padding: 47px 22px 25px 22px;
    background-image: url(../../../img/banner/banner.jpg);
    background-size: cover;
    justify-content: space-between;
  }
  @media (max-width: 1919px) and (min-width: 1024px) {
    background-image: url(../../../img/banner/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 43px 85px 22px 85px;
    gap: 0;
    justify-content: space-between;
  }
}

.logo {
  svg {
    @media (max-width: 1023px) and (min-width: 0px) {
      width: 86px;
      height: 36px;
    }
    @media (max-width: 1919px) and (min-width: 1024px) {
      width: 124px;
      height: 52px;
    }
  }
}

.nav {
  display: flex;
  gap: 28px;
  margin: 0;

  @media (max-width: 1910px) {
    gap: 25px;
  }

  li {
    list-style-type: none;
  }
  li:not(:last-child) {
    padding-right: 28px;
    border-right: 1px solid #ffffff;

    @media (max-width: 1910px) {
      padding-right: 25px;
    }
  }

  a {
    text-decoration: none;
    color: #ffffff;
    font-family: Gilroy;
    font-size: 16px;

    @media (max-width: 1910px) {
      font-size: 14px;
    }
  }
}
