.formSection {
  padding: 0 134px;
  display: flex;
  flex-direction: column;
  margin-bottom: 137px;

  @media (max-width: 1023px) and (min-width: 0px) {
    padding: 0 45px;
    margin-bottom: 62px;
  }
}

.titleWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  margin-top: 68px;
  margin-bottom: 75px;

  @media (max-width: 1023px) and (min-width: 0px) {
    margin-top: 27px;
    margin-bottom: 30px;
    gap: 5px;
  }
}

.title {
  font-size: 60px;
  font-family: Gilroy;
  text-align: center;

  @media (max-width: 1023px) and (min-width: 0px) {
    font-size: 24px;
  }
}

.subtitle {
  font-size: 36px;
  font-family: Gilroy;
  text-align: center;

  @media (max-width: 1023px) and (min-width: 0px) {
    font-size: 14px;
  }
}

.btnWrap {
  width: 100%;
  margin-bottom: 88px;

  @media (max-width: 1023px) and (min-width: 0px) {
    margin-bottom: 35px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin-bottom: 70px;

  @media (max-width: 1023px) and (min-width: 0px) {
    margin-bottom: 30px;
    gap: 28px;
  }
}

.name {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 45px 55px;
  // border-radius: 14px;
  border: 2px solid transparent;
  background-color: #24242480;
  overflow: hidden;

  -webkit-border-image: url("../../../img/backgroundText.jpg");
  border-image: url("../../../img/backgroundText.jpg") 30 repeat;

  @media (max-width: 1023px) and (min-width: 0px) {
    padding: 18px 22px;
    gap: 14px;
  }
}

.fullName {
  font-family: Gilroy;
  font-size: 36px;
  color: #ffffff;

  @media (max-width: 1023px) and (min-width: 0px) {
    font-size: 14px;
  }
}

.input {
  padding-bottom: 5px;
  background-color: transparent;
  border: 0;
  outline: 0;
  transition: 0.3ms;
  font-size: 22px;
  font-family: Gilroy;
  color: #ffffff;
  border-bottom: 2px solid transparent;
  -webkit-border-image: url("../../../img/backgroundText.jpg");
  border-image: url("../../../img/backgroundText.jpg") 30 repeat;

  @media (max-width: 1023px) and (min-width: 0px) {
    font-size: 14px;
  }

  &::placeholder {
    color: white;
    font-family: Gilroy;
  }
}

.checkboxesWrap {
  display: flex;
  flex-direction: column;
  gap: 48px;
  @media (max-width: 1023px) and (min-width: 0px) {
    gap: 20px;
  }
}

.customCheckbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  .checkboxIcon {
    position: relative;
    width: 68px;
    height: 68px;
    border: 2.43px solid #333333;
    border-radius: 9.72px;
    margin-right: 25px;
    background-color: #262626;

    @media (max-width: 1023px) and (min-width: 0px) {
      width: 27px;
      height: 27px;
      margin-right: 10px;
      border-radius: 3.87px;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @media (max-width: 1023px) and (min-width: 0px) {
        width: 12px;
        height: 10px;
      }
    }
  }
}
