.firs-slider-mobile .swiper-wrapper {
  height: 591px;

  @media (max-width: 1023px) and (min-width: 0) {
    height: 200px;
  }
}

.firs-slider-mobile .swiper-slide.swiper-slide-active {
  width: 796px !important;
  height: 584px;
  @media (max-width: 1023px) and (min-width: 0) {
    width: 296px !important;
    height: 184px;
  }
}
.firs-slider-mobile .swiper-slide {
  width: 796px !important;
  height: 584px;
  overflow: hidden;
  border-radius: 24px;
  border: 2px solid #ffd700;
  @media (max-width: 1023px) and (min-width: 0) {
    width: 296px !important;
    height: 184px;
  }
}
