.firs-slider-mobile .swiper-wrapper {
  height: 591px;

  @media (max-width: 1023px) and (min-width: 0) {
    height: 200px;
  }
}

.firs-slider-mobile .swiper-slide.swiper-slide-active {
  width: 870px;
  height: 591px;
  @media (max-width: 1023px) and (min-width: 0) {
    width: 300px !important;
    height: 200px;
  }
}
.firs-slider-mobile .swiper-slide {
  width: 870px;
  height: 591px;
  @media (max-width: 1023px) and (min-width: 0) {
    width: 300px !important;
    height: 200px;
  }
}
