* {
  margin: 0;
  padding: 0;
}

#root {
  max-width: 100vw;
}

body {
  justify-content: center;
}

@font-face {
  font-family: "Measure";
  src: local("Measure"), url(./assets/fonts/Measure/Measure.otf);
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url(./assets/fonts/Gilroy/Gilroy-Regular.ttf);
}

.firstPart {
  /* min-height: 2018px; */
  background-image: url(../img/backgorundFirst.png);
  background-size: cover;

  @media (max-width: 1279px) and (min-width: 0) {
    background-image: url(../img/backgorundSecond.png);
  }
}

.secondPart {
  background-image: url(../img/backgorundSecond.png);
  background-size: cover;
}
