.wraper {
  max-width: 654px;
  @media (max-width: 1023px) and (min-width: 0) {
    width: 320px;
  }
}

.sliderWrap {
  width: 100%;
  padding: 0 40px;
}

.slider {
  display: flex;
  gap: 21px;

  @media (max-width: 1023px) and (min-width: 0) {
    flex-direction: column;
    width: 320px;
  }
}

.imgWrap {
  @media (max-width: 1023px) and (min-width: 0) {
    box-sizing: border-box;

    img {
      width: 100%;
    }
  }
}

.smallimg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 1023px) and (min-width: 0) {
    flex-direction: row;

    img {
      width: 159px;
      height: 200px;
    }
  }
}

img {
  object-fit: cover;
}

.inactive {
  display: none;

  img {
    object-fit: cover;
  }
}
